# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Commit Changes'
      'command': 'hg-commit:commit'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'hg-commit'
      'submenu': [
        {
          'label': 'Commit'
          'command': 'hg-commit:commit'
        }
      ]
    ]
  }
]
